<div>
  <%= flash[:notice] %>
</div>
 <div class="container">
 <di class="row">
 <div class="mx-auto">

  <h1 class="mx-auto"> WELCOMETO
   <i class="fas fa-book" aria-hidden="true"></i>
     BOOKERS</h1>
 <p>you can share and exchange your opinions , inpressions , and emotions

 about various books!</p>

 <a class="btn btn-info btn-sm btn-block mb-3 sign_in" href="/users/sign_in">Log in</a>
 <a class="btn btn-success btn-sm btn-block sign_up" href="/users/sign_up">Sign up</a>

 </div>
 </div>
 </div>

